@import url("https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&family=Ubuntu:wght@300;700&display=swap");
body {
  margin: 0;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

/*  =======================
    Typography 
    =======================  */
.site__title {
  font-family: "Lora", serif;
  text-align: center;
  font-weight: 400;
  font-size: 3.375rem;
  color: #143774;
  margin: 0;
}

.site__subtitle {
  font-size: 1rem;
  color: #1792d2;
  text-align: center;
}

/*  =======================
    Layout 
    =======================  */
.separator {
  margin: 2em 0;
}

header {
  background-color: #f8f8f8;
  padding: 2em 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.container--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 675px) {
  .container--nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*  =======================
    Navigation 
    =======================  */
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navbar__item {
  margin-left: 2em;
}

@media (max-width: 675px) {
  .navbar__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__item {
    margin-top: 1em;
  }
}

.navbar__link {
  color: #707070;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.375em 0;
}

.navbar__link:hover, .navbar__link:focus {
  color: #1792d2;
}

.navbar__link--active {
  border-bottom: 0.125em solid #143774;
}

.navbar__link--active:hover, .navbar__link--active:focus {
  color: #707070;
}

/*  =======================
    Blog
    =======================  */
.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 0;
}

.blog__recent {
  margin-right: 2em;
}

@media (max-width: 675px) {
  .blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog__recent {
    width: 100%;
  }
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.post__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 250px;
}

.post__intro {
  margin: 0 1em 1.5em 0;
}

.post--main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post--main .post__image {
  width: 100%;
  height: 400px;
}

.post--main .post__intro {
  margin: 0 0 1.5em 0;
}

@media (max-width: 675px) {
  .post--main .post__image {
    height: auto;
  }
}

@media (max-width: 675px) {
  .post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post__image {
    width: 100%;
  }
  .post__intro {
    margin-right: 0;
  }
}

.post__info {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  margin-top: 1em;
  color: #707070;
}

.post__title {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #143774;
  margin: 0;
}

.post__description {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.75em;
  color: #707070;
}

.post__link {
  color: #1792d2;
}

.post__continue-reading {
  font-size: 0.875rem;
  line-height: 1.75em;
  letter-spacing: 0.175em;
  font-weight: 700;
  color: #1792d2;
  text-transform: uppercase;
  text-decoration: none;
}

/*  =======================
    Sidebar 
    =======================  */
.about-me,
.main-posts {
  padding: 1em;
  border: 1.25em solid #ebebeb;
}

.about-me {
  margin-bottom: 3em;
}

.main-posts__title,
.about-me__title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75em;
  letter-spacing: 0.225em;
  color: #143774;
  text-transform: uppercase;
}

.main-posts__image,
.about-me__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.about-me__image {
  height: 300px;
}

.about-me__description {
  color: #143774;
}

.main-posts__description {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #143774;
}
/*# sourceMappingURL=style.css.map */